<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <div id="app-root">
    <!-- المحاضره 2 -->
    <!-- طريقة جلب البيانات  -->
    <!-- <p>my name {{name}} i am {{age}} years old</p>-->

    <!-- المحاضره 3 -->
    <!-- طريقة استخدام الدوال  -->
    <!-- <h3>{{sayHi("ifternoo",name)}}</h3> -->

    <!-- المحاضره 4 -->
    <!-- طريقة استخدام الروابط  -->
    <!-- <a v-bind:href="link">test</a><br> -->
    <!-- <a :href="link">test2</a> -->

    <!-- المحاضره 5 -->
    <!-- طريقة عمل الاحداث والتعامل معها -->
    <!-- <h3>Number is {{number}}</h3>
    <button v-on:dblclick="increase">dblclick</button>
    <button v-on:click="increase">Click</button> -->

    <!-- المحاضره 6 -->
    <!-- طريقة عمل ال Events Modifiers -->
    <!-- <a :href="link" @click.prevent>test</a>
    <form action="" @submit.prevent>
      <input type="submit" name="" id="">
    </form>
    <a href="#" @click.once="test">test</a> -->

    <!-- 7 -->
    <!-- طريقة عمل ال Keyboard Events & Modifiers -->
    <!-- <input type="text" name="" id="" @keyup="test">
    <input type="text" name="" id="" @keydown="test">
    <input type="text" name="" id="" @keydown.enter="test">
    <input type="text" name="" id="" @keydown.alt.enter="test"> -->

    <!-- 8- Two Way Data Binding -->
    <!-- <label for="text_1">{{name}}</label>
    <input v-model="name" type="text" name="text_1" id="text_1">
    <button @click="name ='ali'">click</button> -->

    <!-- 9- Two Way Data Binding Practice -->
    <!-- <form action="" method="get" @submit.prevent="sendData">
      <label for="user-name">Enter the name</label>
      <input type="text" v-model="newUser.name" name="user_name" id="user-name">
      <br>
      <label for="user-email">Enter the email</label>
      <input type="email" v-model="newUser.email" name="user_email" id="user-email">
      <br>
      <label for="user-password">Enter the password</label>
      <input type="password" v-model="newUser.password" name="user_password" id="user-password">
      <br>
      <input type="submit" value="submit">
    </form> -->

    <!-- 10- Computed Property -->
    <!-- <h2>Numer one is {{numOne}}</h2>
    <h2>Numer one * 2 = {{increaseNumberOneChange}}</h2>
    <button @click="numOne++">Number one change</button>
    <h2>Numer one is {{numTwo}}</h2>
    <h2>Numer Two + 10 = {{increaseNumberTwoChange}}</h2>
    <button @click="numTwo++">Number one change</button> -->

    <!-- 11- Dynamic Classes & Style -->
    <!-- <h1 :class="myColor">Hello world!</h1>
    <h2 :style="`color: ${myColor}`">Hello world!</h2>
    <input type="text" v-model="myColor"> -->

    <!-- 12- If Conditions & V-Show -->
    <!-- <h3>His name {{name}} and his age is {{age}}</h3> -->
    <!-- <p v-if="age < 30 ">His age is younger than 30</p>
     <p v-else-if="age == 30 ">His age is 30</p>
     <p v-else="age > 30 ">His age is Older than 30</p> -->
    <!-- <p v-show="age < 30 ">His age is younger than 30</p>
     <p v-show="age == 30 ">His age is 30</p>
     <p v-show="age > 30 ">His age is Older than 30</p>
     <button @click="age++">incrmunt</button> -->

    <!-- 13- Looping Data (V-For) -->
    <!-- <h2 v-for="student in students" :key="student.id">
      <p>my id is {{student.id}}</p>
      <p>my name is {{student.name}}</p>
      <p>my age is {{student.age}}</p>
    </h2> -->


    <!-- 14- Looping Data (V-For) Practice -->
    <!-- <div class="container">
      <div class="card" v-for="product in products" :key="product.id">
        <h4>{{product.title}}</h4>
        <p>{{product.price}}</p>
        <p>{{product.brand}}</p>
        <img :src="product.img" alt="">
        <p>{{product.description}}</p>
      </div>
    </div> -->

    <!-- 15- Looping Data (V-For) - Nested Loop -->
    <!-- <div class="container">
      <div class="products-section">
        <div class="card" v-for="product in products" :key="product.id">
          <h4>{{product.title}}</h4>
          <p>{{product.price}}</p>
          <p>{{product.brand}}</p>
          <img :src="product.img" alt="">
          <p>{{product.description}}</p>
          <span class="colors" v-for="(name,i) in product.colors" :key="i">
            <span :style="`background-color: ${name};`">.</span>
          </span>
        </div>
      </div>
    </div> -->
  </div>

  <!-- 16- Multiple Vue Instances -->
  <div class="container">
    <h1>product</h1>
    <div class="products-section" id="products-section">
      <p>count is {{count}}</p>
      <div class="card" v-for="product in products" :key="product.id">
        <h4>{{product.title}}</h4>
        <p>{{product.price}}</p>
        <p>{{product.brand}}</p>
        <img :src="product.img" alt="">
        <p>{{product.description}}</p>
        <span class="colors" v-for="(name,i) in product.colors" :key="i">
          <span :style="`background-color: ${name};`">.</span>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <h1>Users</h1>
    <div class="users-section" id="users-section">
      <div class="card" v-for="user in users" :key="user.id">
        <h4>{{user.name}}</h4>
      </div>
      <button @click="increasecount">add</button>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- <script src="vue.js"></script> -->
  <script src="script.js"></script>
</body>

</html>